<div class="top_page">

<div class="header">
  <div class="title">Task</div>
  <div class="youkoso">〜さんようこそ</div>
  <div class="login">ログイン</div>
  <div class="logout">ログアウト</div>
</div>

<div class="task_itiran">
  <div class="kako">
    <div class="kako_title">期限過ぎ</div>
    <div class="kako_contents">過去のTASK</div>
  </div>
  <div class="honzitu">
  <div class="honzitu_title">本日のタスク</div>
    <div class="honzitu_contents">本日のTASK</div>
  </div>
  <div class="mirai">
  <div class="mirai_title">タスク</div>
    <div class="mirai_contents">未来のTASK</div>
  </div>
</div>

<div class="footer">
  <div class="task_form">簡易投稿フォーム</div>
  <div class="kousin">更新ボタン</div>
</div>

</div>
