.main{
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.top_page{
  height: 100%;
  width: 100%;
}

.header{
  height: 50px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 245, 255);
  border-radius: 20px;
  margin: 10px;
}

.title{
  font-size: 30px;
}

.task_itiran{
  height: calc(100% - 180px);
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.kako{
  height: calc(100% - 0px);
  width: 30%;
  margin: 0px 20px 0px 40px;
  background-color: rgb(254, 175, 205);
  border-radius: 20px;
}

.honzitu{
  height: calc(100% - 0px);
  width: 30%;
  margin: 0px 20px;
  background-color: rgb(255, 232, 173);
  border-radius: 20px;
}

.mirai{
  height: calc(100% - 0px);
  width: 30%;
  margin: 0px 40px 0px 20px;
  background-color: rgb(173, 255, 209);
  border-radius: 20px;
}

.kigen_title{
  height: 40px;
  font-size: 20px;
  margin: 20px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0%);
  border-radius: 20px;
}


.task_contents{
  height: calc(100% - 80px);
  overflow: scroll;
}

.task_content{
  margin: 0px 10px 10px 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.task_content_text{
  color: #000;
}

.task_contents_button{
  color: #000000;
  margin: 0 0 10px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 70%);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}


.footer{
  height: 50px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 245, 255);
  border-radius: 20px;
  margin: 10px;
}

.task_form{
  line-height: 70px;
}

 /* タブレット表示時 */
@media (max-width: 1024px) {

  .main{
    font-size: 12px;
  }

  .kako{
    margin: 0px 0px 0px 15px;
  }
  
  .honzitu{
    margin: 0px 15px;
  }
  
  .mirai{
    margin: 0px 15px 0px 0px;
  }

  .kigen_title{
    height: 20px;
    font-size: 15px;
    margin: 5px;
    line-height: 20px;
  }
  
  
  .task_contents{
    height: calc(100% - 30px);
  }

}

 /* スマホ表示時 */
@media (max-width: 500px) {

  .main{
    font-size: 10px;
  }
  
  .kako{
    margin: 0px 0px 0px 10px;
  }
  
  .honzitu{
    margin: 0px 10px;
  }
  
  .mirai{
    margin: 0px 10px 0px 0px;
  }
  
  .task_content{
    margin: 0px 10px 10px 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.9);
  }
  
  .task_content_text{
    color: #000;
  }
  
  .task_contents_button{
    color: #000000;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 70%);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    width: 78px;
  }
  
  
  .footer{
    height: 50px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 245, 255);
    border-radius: 20px;
    margin: 10px;
  }
  
  .task_form{
    line-height: 70px;
  }

}