.main{
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.top_page{
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: gold;
}
.title{
  font-size: 30px;
}

.youkoso{}
.login{}
.logout{}


.task_itiran{
  height: calc(100% - 140px);
  width: 100%;
  background-color: greenyellow;
  display: flex;
}

.kako{
  height: calc(100% - 20px);
  width: 30%;
  margin: 10px;
  background-color: violet;
}

.honzitu{
  height: calc(100% - 20px);
  width: 30%;
  margin: 10px;
  background-color: violet;
}

.mirai{
  height: calc(100% - 20px);
  width: 40%;
  margin: 10px;
  background-color: violet;
}

.kigen_title{
  height: 40px;
  font-size: 20px;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  background-color: aqua;
}


.task_contents{
  height: calc(100% - 60px);
  overflow: scroll;
}

.task_content{
  margin: 0px 10px 10px 10px;
  padding-left: 10px;
  background-color: burlywood;
}

.task_contents_bottan{
  margin: 0 0 10px 10px;
}


.footer{
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: gold;
}

.task_form{}
.kousin{}